@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --blue: #43bee5;
  --pink: #f40058;
  --yellow: #efa500;
  --green: #41b853;
  --white: #efefef;
  --gray: #e9e9e9;
  --darkblue: #161b40;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Lato, serif;
  font-size: 12px;
  color: var(--pink);
}

body {
  width: 100vw;
  background-color: #edf1f1;
  background-image: url("img/bg.jpeg");
}

.todo-lists {
  margin: 5rem auto;
  padding: 2rem;
  box-shadow: 5px 5px 5px 5px #000;
  width: 50%;
  background-color: var(--darkblue);
}

@media screen and (max-width: 540px) {
  .todo-lists {
    min-width: 95%;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 768px) {
  .todo-lists {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .todo-lists {
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .todo-lists {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .todo-lists {
    width: 60%;
  }
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
}

.todo-list-title {
  font-size: 2rem;
}

.bi {
  font-size: 2.8rem;
  color: #555;
}

.btn-refresh {
  transition: all 2s;
}

.btn-refresh:hover,
.btn-refresh:active {
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}

.bi-arrow-repeat {
  color: #559089;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.bi-arrow-repeat:hover,
.bi-arrow-repeat:focus,
.bi-arrow-repeat:active {
  color: var(--pink);
}

#todo-input {
  padding: 1.2rem 1rem;
  margin: 0.3rem 0;
  border: 2px solid #333;
  border-radius: 5px;
  outline: none;
  font-size: 1.5rem;
  font-style: italic;
  background-color: #272b42;
  min-width: 100%;
  color: var(--gray);
}

#todo-input:hover {
  border-bottom: 3px solid var(--pink);
}

#todo-input::placeholder {
  color: var(--gray);
}

.row-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid #555;
  padding: 0.5rem 1rem;
}

i {
  background-color: var(--darkblue);
}

.todo-list-row {
  position: relative;
}

.todo-list-row:hover,
.todo-list-row:active,
.todo-list-row:hover i,
.todo-list-row:active i {
  background-color: rgb(4, 19, 39);
  color: var(--gray);
}

.todo-list-row:active {
  color: var(--green);
}

.todo-left {
  display: flex;
  align-items: center;
  max-width: 80%;
}

.description {
  padding: 1rem 0.5rem;
  margin-left: 2rem;
  font-size: 1.5rem;
  color: var(--blue);
  max-width: 100%;
  overflow-wrap: break-word;
}

.strike-through {
  text-decoration: var(--green) line-through;
  font-style: italic;
  color: var(--pink);
}

.todo-list-holder button {
  align-self: flex-end;
}

.btn {
  outline: none;
  width: auto;
  border: none;
  cursor: pointer;
  background: var(--darkblue);
}

.btn-delete {
  display: none;
  position: absolute;
  right: 0;
}

.btn-clear {
  width: 100%;
  font-size: 1.7rem;
  font-weight: 400;
  border-top: 0.5px solid #bfcaca;
  padding-top: 2rem;
  color: #555;
  background-color: var(--darkblue);
}

.btn-edit {
  position: absolute;
  right: 0;
}

.btn-clear:hover {
  color: var(--blue);
}

.row-bg {
  background: rgb(226, 223, 197);
}

.over {
  background: #e9e9e9;
}

.todo-list-row:first-child {
  border-top: none;
}
